# Portfolio Example

In [2]:
import os

In [3]:
os.chdir("../")

## Import Modules

In [4]:
from datetime import datetime

import pandas as pd
import yfinance as yf

from iex.util import portfolio

pd.options.display.float_format = "{:,.2f}".format

In [5]:
pd.set_option("display.max_rows", 500)
pd.set_option("display.max_columns", 500)

## Load Transactions

In [6]:
tx_file = r"tests/files/test_transactions.xlsx"

In [7]:
test = portfolio.portfolio(
    tx_file, filter_type=["Cash", "Dividend"], funds=["BLKRK"], other_fields=["broker"]
)

read 'tests/files/test_transactions.xlsx'
You had 21 transactions
Did not get price info for ['BLKRK'] and will use transaction price to develop price history, since they are funds and not available in stock exchanges
[*********************100%***********************]  12 of 12 completed

## Perfomance

In [8]:
performance = test.get_performance()

In [9]:
performance[performance['market_value']!=0].sort_values("return", ascending=False)

,date,average_price,last_price,cumulative_units,cumulative_cost,market_value,return,return_pct,realized,unrealized
ticker,,,,,,,,,,
DDOG,2022-06-24 00:00:00,94.91,107.48,21.07,"2,000.00","2,264.88",264.88,0.10,0.00,264.88
NFLX,2022-06-24 00:00:00,184.65,190.85,10.00,"1,846.45","1,908.50",62.05,0.63,0.00,62.05
BLKRK,2022-06-24 00:00:00,12.00,14.00,15.00,180.00,210.00,30.00,2.82,0.00,30.00
AMD,2022-06-24 00:00:00,99.25,87.08,16.00,"1,439.51","1,393.28",-46.23,-0.03,148.52,-194.75
NVDA,2022-06-24 00:00:00,206.95,171.26,9.66,"2,000.00","1,655.09",-344.91,-0.24,0.00,-344.91
LCID,2022-06-24 00:00:00,24.14,19.21,82.85,"2,000.00","1,591.55",-408.45,-0.27,0.00,-408.45
MU,2022-06-24 00:00:00,80.11,58.44,24.97,"2,000.00","1,458.99",-541.01,-0.27,0.00,-541.01
GTLB,2022-06-24 00:00:00,110.00,54.36,18.18,"2,000.00",988.36,"-1,011.64",-0.64,0.00,"-1,011.64"
PLTR,2022-06-24 00:00:00,22.52,10.19,88.81,"2,000.00",904.97,"-1,095.03",-0.59,0.00,"-1,095.03"
TCNNF,2022-06-24 00:00:00,32.56,13.02,61.43,"2,000.00",799.75,"-1,200.25",-0.64,0.00,"-1,200.25"
ZM,2022-06-24 00:00:00,325.10,122.64,6.15,"2,000.00",754.48,"-1,245.52",-0.42,0.00,"-1,245.52"
SOFI,2022-06-24 00:00:00,19.57,6.13,102.20,"2,000.00",626.47,"-1,373.53",-0.56,0.00,"-1,373.53"
portfolio,0,0.00,0.00,0.00,"21,465.96","14,556.33","-5,803.55",-0.26,"1,254.60","-7,058.15"

### Company A

In [10]:
company_a = test.transactions_history[
    test.transactions_history["broker"] == "company_a"
]
company_a = test.calc_transaction_metrics(company_a)

In [11]:
test.get_performance(tx_df=company_a)

,date,average_price,last_price,cumulative_units,cumulative_cost,market_value,return,return_pct,realized,unrealized
ticker,,,,,,,,,,
AMD,2022-06-24 00:00:00,99.25,87.08,16.00,"1,439.51","1,393.28",-46.23,-0.03,148.52,-194.75
AQUA,2022-06-24 00:00:00,0.00,32.98,0.00,"-1,106.08",0.00,"1,106.08",0.62,"1,106.08",0.00
BLKRK,2022-06-24 00:00:00,12.00,14.00,15.00,180.00,210.00,30.00,2.82,0.00,30.00
DDOG,2022-06-24 00:00:00,94.91,107.48,21.07,"2,000.00","2,264.88",264.88,0.10,0.00,264.88
GTLB,2022-06-24 00:00:00,110.00,54.36,18.18,"2,000.00",988.36,"-1,011.64",-0.64,0.00,"-1,011.64"
LCID,2022-06-24 00:00:00,24.14,19.21,82.85,"2,000.00","1,591.55",-408.45,-0.27,0.00,-408.45
MU,2022-06-24 00:00:00,80.11,58.44,24.97,"2,000.00","1,458.99",-541.01,-0.27,0.00,-541.01
NVDA,2022-06-24 00:00:00,206.95,171.26,9.66,"2,000.00","1,655.09",-344.91,-0.24,0.00,-344.91
PLTR,2022-06-24 00:00:00,22.52,10.19,88.81,"2,000.00",904.97,"-1,095.03",-0.59,0.00,"-1,095.03"
SOFI,2022-06-24 00:00:00,19.57,6.13,102.20,"2,000.00",626.47,"-1,373.53",-0.56,0.00,"-1,373.53"
TCNNF,2022-06-24 00:00:00,32.56,13.02,61.43,"2,000.00",799.75,"-1,200.25",-0.64,0.00,"-1,200.25"
ZM,2022-06-24 00:00:00,325.10,122.64,6.15,"2,000.00",754.48,"-1,245.52",-0.42,0.00,"-1,245.52"
portfolio,0,0.00,0.00,0.00,"19,619.51","12,647.83","-5,865.60",-0.27,"1,254.60","-7,120.20"

### Company B

In [12]:
company_b = test.transactions_history[
    test.transactions_history["broker"] == "company_b"
]
company_b = test.calc_transaction_metrics(company_b)

In [13]:
performance = test.get_performance(tx_df=company_b)

In [14]:
performance[performance['market_value']!=0].sort_values("return", ascending=False)

,date,average_price,last_price,cumulative_units,cumulative_cost,market_value,return,return_pct,realized,unrealized
ticker,,,,,,,,,,
NFLX,2022-06-24 00:00:00,184.65,190.85,10.00,"1,846.45","1,908.50",62.05,0.63,0.00,62.05
portfolio,0,0.00,0.00,0.00,"1,846.45","1,908.50",62.05,0.63,0.00,62.05

## Transactions

In [15]:
transactions = test.transactions
transactions.tail(5)

         date ticker  type     broker  units   cost  sale_price
16 2022-05-10  BLKRK   Buy  company_a   5.00  50.00       10.00
17 2022-05-12  BLKRK   Buy  company_a   5.00  60.00       12.00
18 2022-05-16  BLKRK   Buy  company_a   5.00  70.00       14.00
19 2022-05-20   NFLX   Buy  company_b   5.00 931.75      186.35
20 2022-06-10   NFLX  Sell  company_b   5.00 914.70      182.94

In [16]:
transactions_history = test.transactions_history
transactions_history.tail(5)

,ticker,date,last_price,sale_price,units,cost,broker,cumulative_units,cumulative_cost,average_price,market_value,return,unrealized,realized
7049,ZM,2022-06-17,110.00,0.00,0.00,0.00,company_a,6.15,"2,000.00",325.10,676.71,"-1,323.29","-1,323.29",0.00
7050,ZM,2022-06-21,113.82,0.00,0.00,0.00,company_a,6.15,"2,000.00",325.10,700.22,"-1,299.78","-1,299.78",0.00
7051,ZM,2022-06-22,115.17,0.00,0.00,0.00,company_a,6.15,"2,000.00",325.10,708.52,"-1,291.48","-1,291.48",0.00
7052,ZM,2022-06-23,117.67,0.00,0.00,0.00,company_a,6.15,"2,000.00",325.10,723.90,"-1,276.10","-1,276.10",0.00
7053,ZM,2022-06-24,122.64,0.00,0.00,0.00,company_a,6.15,"2,000.00",325.10,754.48,"-1,245.52","-1,245.52",0.00

# Ticker Checks

In [17]:
ZM = test._get_transactions_history(only_tickers=["ZM"])

In [18]:
ZM[ZM["units"] != 0]

,ticker,date,last_price,sale_price,units,cost,cumulative_units,cumulative_cost,average_price,market_value,return,unrealized,realized
6596,ZM,2020-08-31,325.10,325.10,6.15,"2,000.00",6.15,"2,000.00",325.10,"2,000.00",0.00,0.00,0.00

# Reload

In [ ]:
break

In [ ]:
import importlib

In [ ]:
importlib.reload(portfolio)

# Test